.chat-input{
  position: relative;


  & > div:first-of-type {
    display: flex;

  }

  .chat-input_smile-btn{
    margin-right: 10px;
    display: flex;
    align-items: center;
    .chat-input_emoji-picker{
      position: absolute;
      bottom: 50px;
      z-index: 1;
    }
  }

  .anticon{
    font-size: 18px;
  }

  .ant-btn-circle{
    border: 0;
    box-shadow: none;
    color: #202020;
    opacity: 40%;
    transition: opacity 0.15s ease-in-out ;
    color: #202020;
    &:hover{
      opacity: 1;
      color: #202020;
    }
    &:after{
      display: none;
    }
  }
  .chat-input_attachments {
    padding-top: 12px;
    padding-left: 42px;
    position: absolute;
    margin-top: 30px;
  }



  .chat-input_record-status {
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: center;
      color: red;

    i{
      display: inline-block;
      position: relative;
      height: 10px;
      width: 10px;
      background-color: red;
      border-radius: 30px;
      margin-right: 8px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 10px;
      width: 10px;
      background-color: red;
      border-radius: 30px;
      animation: wave-animation 1s ease-in-out infinite;
      transition: transform 0.15s ease-in-out;
      transform: scale(1);
    }
    }
  }

  .chat-input_actions {
    display: flex;
    align-items: center;
    width: 90px;
    justify-content: space-between;
    margin-left: 20px;

    .chat-input_actions-upload-btn{
      input{
      cursor: pointer;
      }
      &:hover{
        cursor: pointer;
        button{
          opacity: 1;
        }
      }
    }
  }

  input{
    padding: 6px 11px 8px;
    font-size: 14px;
    &:focus{
      box-shadow: none;
    }
  }
  @keyframes wave-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
}